html, body {
    margin: 0;
    height: 100%;
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }
  
  #root {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px;
  }
  
  #root div {
    width: 100%;
  }
  
  #root div div {
    height: 100%;
  }
  
  #root div div div {
    position: relative;
    height: auto;
  }
  
  h1, h4 {
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    padding-top: 150px;
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
  }
  
  button {
    cursor:pointer;
    border: 0;
    border-radius: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  button:hover {
    padding: 15px 50px;
    opacity: 1;
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.2);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.2);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.2);
    -o-box-shadow: 0 15px 20px rgba(0,0,0,.2);
    transform: translate3d(0,-4px,0);
    -webkit-transform: translate3d(0,-4px,0);
    -moz-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    -o-transform: translate3d(0,-4px,0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  :focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  
  .black {
      color: black;
  }
  
  .white {
      color: white;
  }
  
  .light-button {
    background-color: rgba(255,255,255,0.5);
    color: rgb(0,0,0);
  }
  
  .dark-button {
    background-color: rgba(0,0,0,0.5);
    color: rgb(255,255,255);
  }